annotated-types==0.7.0
anyio==4.9.0
async-timeout==5.0.1
asyncpg
click==8.1.8
colorama==0.4.6
databases==0.9.0
exceptiongroup==1.2.2
fastapi==0.115.12
greenlet==3.2.0
h11==0.14.0
idna==3.10
psycopg2-binary
pydantic==1.10.21
pydantic-core==2.33.1
python-dotenv==1.1.0
pytz==2025.2
shortuuid==1.0.13
sniffio==1.3.1
sqlalchemy==2.0.40
starlette==0.46.2
typing-extensions==4.13.2
typing-inspection==0.4.0
tzdata==2025.2
uvicorn==0.34.1
